.upcomingInterviewWidget {    
    align-items: center;
    margin-top: -250px;     
    flex: 2;
     box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
     -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
     padding: 10px;
     background-color: white;
     border-radius: 20px;
     width: 60%;
     margin-left: 30%;

 }

 .interviewTitle {
     margin: 0px;
     padding: 0px;
     font-size: 15px;
     font-weight: 600;
 }

 .interviewTable {
     width: 100%;
     border-spacing: 15px;
 }

 .interviewRole {
     display: flex;
     align-items: left;
     font-weight: 500;
     font-size: 15px;
 }

 .job {
     margin: 0px;
     padding: 0px;
     align-items: left;
     font-size: 12px;
 }

 .interviewTableHeader {
     text-align: left;
     font-size: 15px;
 }

 .interviewDate,
 .interviewCompany {
     font-weight: 300;
 }

 .button {
     padding: 5px 7px;
     border: none;
     border-radius: 10px;
     background-color: rgb(240, 169, 169);
     color: white;
 }

