.sidebar {
    flex: 1;
    height: 100%;
    background-color: #afb8b2;
    position: sticky;
    top: 50px;
}

.sidebarTitle {
    font-size: small;
}

.sidebarWrapper {
    color: #555;
    font-size: smaller;
    padding-left: 10px;
}

.sidebarMenu {
    margin-bottom: 10px;
}

.sidebarList {
    list-style: none;
    padding: 5px;
    font-size: small;
    border: none;
}

.sidebarListItem {
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.sidebarListItem.active,
.sidebarListItem:hover {
    background-color: #d6d9d3;
}

.sidebarIcon {
    margin-right: 5px;
    font-size: 15px !important;
}

.sidebarLink {
    color: #555;
    text-decoration: none;
}