.interviewTableContainer {
  flex: 3;
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  padding: 20px;
  width: 100%;
}

.interviewPersonalTable {
  width: 100%;
  border-spacing: 5px;
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  border: 1px solid rgba(235, 235, 235, 0.75);
  border-radius: 10px;
}

.interviewPersonalTitle {
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  font-weight: 600;
}

/* .interviewTableContent {
    font-weight: 300;
    font-size: 10px;
} */

.interviewDashTableHeader {
  text-align: left;
  font-size: 12px;
}

.intervewTableText {
  font-weight: 500;
  font-size: 12px;
  padding-bottom: 0px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

.addTimetableButton {
  margin-top: 12px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  border-right: 0;
  font-size: px;
  background-color: grey grey;
}

.addNewInterview {
  background-color: #d1e2c4;
  margin: 20px;
  padding-right: 50px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
}

.addInterviewTitle {
  font-size: 24px;
  font-weight: 600;
  padding-top: 12px;
}

.timeTableUpdateItem {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.timeTableUpdateItem > label {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
}

.timeTableInput {
  background-color: #ebfcde;
  border: none;
  width: 250px;
  border-bottom: 1px solid grey;
  height: 30px;
}

/* 
.dashTitle {
    background-color: #9CC69B;
}

form {
    display: flex;
    gap: 5px;
}



form * {
    font-size: 18px;
}



input {
    background-color: #bde4a8;
    border: none;
    border: solid 1px #676f54;
    border-radius: 40px;
    width: 250px;
    padding: 10px;
}

::placeholder {
    color: black;
} */
